<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">

    
    <!-- External CSS Libraries -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="topbar">
        
            <div class="auth flex items-center">
                <div>
                   
                    <a href="/subscribe">Log in</a>
                </div>
                <span class="divider">|</span>
                <div>
                  
                    <a href="/subscribe">Reach us</a>
                </div>
                <span class="divider">|</span>
                <div>
                    
                    <a href="/subscribe">Join  us</a>
                </div>
                <span class="divider">|</span>
                
            </div>
        </div>
    </header>
    
    <nav>
        
        </div>
        <div class="navbar magic-shadow">
            <div class="container flex justify-center">
                <a href="/" class="active">Home</a>
                <a href="/about">About us</a>
                <a href="/product">Products</a>
                <a href="/blog">Blog</a>
                <a href="/shop">Shop</a>
                <a href="/services">Services</a>
                <a href="/shop">Gallery</a>
                <a href="/contact">Contact us</a>
            </div>
        </div>
    </nav>
