<%- include('partials/header') %> 
<head>
        <link rel="stylesheet" href="/css/style.css">
</head>

<section class="about-meal">
    <div class="container">
        <h1 class="section-heading">About Fresh Meal</h1>
        <div class="about-meal-wrap flex">
            <div class="flex-1">
                <img src="/images/yogurt.png" alt="Fresh Meal Image">
            </div>
            <div class="flex-1">
                <h2>Freshmeal: A Healthier Way to Eat</h2>
                <p>
                    Freshmeal is more than just a meal delivery service—it's a commitment to healthier living. 
                    Our meals are crafted by professional chefs using the freshest ingredients, ensuring a 
                    perfect balance of taste and nutrition. Whether you're training for a marathon, aiming for 
                    weight loss, or simply seeking convenient, nutritious meals, Freshmeal makes healthy eating effortless.
                </p>
                <button class="btn btn-secondary">Read More</button>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
