<%- include('partials/header') %>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<section class="contact-us flex">
    <div class="contact-info-wrapper">
        <h1 class="section-heading">Contact Us</h1>
        <div class="contact-info">
            <div class="contact-item">
                <img src="/icons/phone-2.svg" alt="Phone Icon">
                <div>
                    <span>Call us:</span>
                    <span>(+1)437-675-6788</span>
                </div>
            </div>
        
            <div class="contact-item">
                <img src="/icons/bag-2.svg" alt="Email Icon">   
                <div>
                    <span>E-mail:</span>
                    <span>support@freshmeal.com</span>
                </div>
            </div>
            <div class="contact-item">
                <img src="/icons/clock-2.svg" alt="Clock Icon">
                <div>
                    <span>Working Hours:</span>
                    <span>Mon - Sat (8:00 AM - 12:00 AM)</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="map-wrapper">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d206253.45012861438!2d-115.31508258571672!3d36.124918453865035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80beb782a4f57dd1%3A0x3accd5e6d5b379a3!2sLas%20Vegas%2C%20NV%2C%20USA!5e0!3m2!1sen!2sru!4v1580850940897!5m2!1sen!2sru"
            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>
</section>

<%- include('partials/footer') %>
