<%- include('partials/header') %>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<section class="our-services">
    <div class="container">
        <h1 class="section-heading">Our Services</h1>
        <div class="card-wrapper flex">
            <div class="service-card magic-shadow-sm">
                <img class="icon" src="/icons/transport.svg" alt="Transport">
                <h2>Free Home Delivery</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <button class="btn btn-secondary">Read More</button>
            </div>
            <div class="service-card magic-shadow-sm">
                <img class="icon" src="/icons/bag.svg" alt="Bag">
                <h2 class="text-primary">30 Days Return Services</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <button class="btn btn-primary">Read More</button>
            </div>
            <div class="service-card magic-shadow-sm">
                <img class="icon" src="/icons/usd.svg" alt="Money Back">
                <h2>Money Back Guaranteed</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <button class="btn btn-secondary">Read More</button>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>