<%- include('partials/header') %>
<section class="subscribe">
    <div class="container flex items-center">
        <div>
            <img src="/images/rasberry.png" alt="Raspberry Image">
        </div>
        <div>
            <h1>Why FreshMeal is the Best Choice for Healthy Eating</h1>
            <p>Eating healthy doesn't have to be complicated or time-consuming. At FreshMeal, we believe that everyone deserves to enjoy nutritious and delicious meals without the hassle of meal prep. Our meals are made from fresh, high-quality ingredients that support a balanced diet, keeping you energized throughout the day. Whether you're trying to eat more vegetables, reduce calories, or just enjoy a well-rounded meal, FreshMeal makes it easy for you.</p>
            <div class="input-wrap">
                <input type="email" placeholder="email@freshmeal.com">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>